<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
	<form action='/wifi' method="POST">
		{{ form.csrf_token() }}
		<h2>Hemos encontrado las siguientes redes inalambricas.</h2>
		{% for ssid in wifis%}
		<input type="radio" id="{{ssid}}" name="wifi" value="{{ssid}}" required>
		<label for="{{ssid}}">{{ssid}}</label><br>
		{% endfor %}
		<h3>Si no sale la que buscas, prueba recargando la página</h3>
		{{form.password()}}
		<button type="submit">Conectar!</input>
	</form>
    </body>
</html>
