<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<style>
	.estilo {
		text-align: center;
		color:white;
	}
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 5%;
	}

        </style>

</head>
<body style="background-color: #2eae8b;">
<form>
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	<h1 class="estilo">Se estan aplicando las configuraciones necesarias, espera...</h1>
	<img src="/static/carga.gif" class="center">
	<div id="estado" class="estilo"></div>    
</form>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	    setInterval(ajaxd, 1000);
	});

	function ajaxd() { 
	let tabla = document.getElementById("estado");
	var csrf_token = "{{ csrf_token() }}";
	$.ajax({
            url:"/ajax",
            type:"POST",
	    headers: {"X-CSRFToken" : csrf_token},
            success: function(response){
                tabla.innerHTML ="El estado actual es: "+ response;
		if(response>3){
			window.location.replace("{{url_for('parametros')}}");
		}

            },
            error: function(error){
            //console.log(error);
            },
        });







	}
</script>
</html>
