<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
	<form action="{{url_for('wifi')}}" method="GET">
		<h1>Bienvenido a la configuración de iUSB:</h1>
		<h2>Primero tendremos que conectarnos a un Wi-fi</h2>
		<button type="submit">Vamos a ello!</input>
	</form>
    </body>
</html>
